.widget {
  min-width: 320px;
  padding: 10px 0 10px 0;
}
.widget:not(:first-child) > div{
  height: 455px;
  overflow-y: auto;
}

.pin {
  font-size:5em;
  display: inline-block;
}
.pin:hover {
  background-color: rgb(0, 188, 212);
  cursor: pointer;
}
.selected {
  background-color: rgb(255, 64, 129);
}

.btnRemove {
  font-size: 1.2em;
  margin-top: 10px;
}
